
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Agam</p>
  </div>
  <div class="footer-button">
    <a class="btn btn-danger btn-lg" href="/logout">Logout</a>
  </div>
</div>
</body>
</html>
