<%- include("partials/header"); -%>
    <h1>About The Developer</h1><br>

    <img class="devImg" src="/images/myPhoto.jpeg" alt="developer-picture">
    <p class="about"> Hi! I'm Agam a up and coming web developer and this is one of my earliest project. I love to develop interactive and responsive websites using Node, Express and EJS. After taking up the web development bootcamp I decided to create this project because I thought an
    online book shelf would be a great way to save information about the books you have read 'in' a systematic way. 'I' hope you have fun using my website and it helped you to save some of your favorite books! </p>
<%- include("partials/homeFooter"); -%>
