<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Books</h1>
    <p class="lead">You know what this is! A one stop shop to save all your books that you have read.</p>
    <hr>
    <a class="btn btn-dark btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>
